body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
}

/** RESET */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*! --------------MOBILE ----------*/

/** COMMON */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-soc-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.hero-btn {
  display: block;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/** HEADER */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  gap: 40px;
  display: flex;
  align-items: center;
}

.address-link {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-link.current {
  color: #404bbf;
}

/** HERO */

.hero {
  background-color: #2e2f42;
  padding: 0;
}

.hero.section {
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 188px 0px;
  max-width: 1440px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero-container {
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

/** FEATURES */

.features {
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-item {
}

.features-icon-svg {
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
  text-align: center;
}

.features-item-text {
  font-weight: 500;
}

/** TEAM */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info-container {
  padding: 32px 0;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  margin-bottom: 8px;
}

.team-item-text {
  margin-bottom: 8px;
}

.team-contacts-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-contacts-item {
  width: 40px;
  height: 40px;
}

.team-contacts-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-soc {
  fill: #f4f4fd;
}

.team-contacts-link:hover,
.team-contacts-link:focus {
  background-color: #404bbf;
}

/** PORTFOLIO */

.portfolio {
  background-color: #fff;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  background-color: #fff;
}

.portfolio-overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portofolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  color: #f4f4fd;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  height: 300px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay:hover .portofolio-img-text {
  transform: translateY(0);
}

.portfolio-overlay:hover,
.portfolio-overlay:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle-text {
  align-items: flex-start;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-title-text {
}

/** FOOTER */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.page-footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}

.footer-soc-container {
  margin-right: auto;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.foter-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-container {
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.footer-subscribe-icon {
  fill: #f4f4fd;
  margin-left: 16px;
}

/**  MODAL  */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-button-close {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button-close:hover .modal-icon-close,
.modal-button-close:focus .modal-icon-close {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-input-wrap {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-icon-container {
  position: relative;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  margin-bottom: 16px;
}

.modal-comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.term-cond-container {
  margin-bottom: 24px;
}

.terms-cond-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.second-input {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.term-cond-link {
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
}

.term-cond-input:checked + .terms-cond-text > .second-input {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.submit-btn {
  height: 56px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/*! ============ TABLET ========== */

@media screen and (min-width: 768px) {
  /** COMMON */

  .container {
    max-width: 768px;
  }

  /** HEADER */

  /** HERO */

  /** FEATURES */

  .features {
  }

  .features-list {
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-icon-svg {
  }

  .features-subtitle {
    text-align: start;
  }

  .features-item-text {
  }

  /** TEAM */
  .team-list {
    gap: 64px 24px;
  }

  /** PORTFOLIO */

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /** FOOTER */

  .page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
  }

  .page-footer-container {
    display: flex;
    align-items: baseline;
  }

  .footer-logo-container {
    margin-right: 120px;
  }

  .footer-logo {
  }

  .footer-logo .logo-part {
    color: #f4f4fd;
  }

  .page-footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 16px;
  }

  .footer-soc-container {
    margin-right: auto;
  }

  .footer-soc-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }

  .foter-soc-item {
    width: 40px;
    height: 40px;
  }

  .footer-soc-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-soc-icon {
    fill: #f4f4fd;
  }

  .footer-soc-link:hover,
  .footer-soc-link:focus {
    background-color: #31d0aa;
  }

  .footer-subscribe-container {
  }

  .footer-subscribe-form {
    display: flex;
    gap: 24px;
  }

  .footer-subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
  }

  .footer-subscribe-input::placeholder {
    color: #ffffff;
  }

  .footer-subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .footer-subscribe-icon {
    fill: #f4f4fd;
    margin-left: 16px;
  }

  /**  MODAL  */

  .modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .modal {
    padding: 72px 24px 24px 24px;
    background-color: #fcfcfc;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-overlay:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }

  .modal-button-close {
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-button-close:hover,
  .modal-button-close:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-button-close:hover .modal-icon-close,
  .modal-button-close:focus .modal-icon-close {
    fill: #fff;
  }

  .modal-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 360px;
    margin-bottom: 16px;
  }

  .modal-input-wrap {
    margin-bottom: 8px;
  }

  .modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .input-icon-container {
    position: relative;
  }

  .modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-input:focus + .modal-icon {
    fill: #4d5ae5;
  }

  .modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-textarea {
    margin-bottom: 16px;
  }

  .modal-comment {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-comment:focus {
    border-color: #4d5ae5;
  }

  .term-cond-container {
    margin-bottom: 24px;
  }

  .terms-cond-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .second-input {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .term-cond-link {
    line-height: 1.33;
    text-decoration: underline;
    color: #4d5ae5;
  }

  .term-cond-input:checked + .terms-cond-text > .second-input {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

  .submit-btn {
    height: 56px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
}

/*! =========== NOT DESKTOP ====== */
@media screen and (max-width: 1157px) {
  .features-icon-container {
    display: none;
  }
}
/*! ============ DESKTOP ========= */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-text {
    font-weight: 400;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-list {
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .features-icon-container {
    display: flex;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
